body {
    display: flex;
    background-size: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    
}


.contador {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 48px;
    color: #090909;
}

#corpo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: row;
    width: 200px;
    height: 200px;
    background-color: pink;
    
}
.slideshow-container {
    position: relative;
    max-width: 600px;
    margin-left: 100px;
    
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    display: none;
    
    width: 400px;
}

img {
    width: 80%;
    border-radius: 10px;
}



.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container{
    height: 80vh;
}

#meio{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    box-shadow: #090909;
}
audio{
    margin-left: 6%;
}

